### Task 1

Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [28]:
monthly_expenses = [{"January": 2200, 
                     "February": 2350, 
                     "March": 2600, 
                     "April": 2130, 
                     "May": 2190}]

In [29]:
# 1.In Feb, how many dollars you spent extra compare to January?
print(monthly_expenses[0]['February']-monthly_expenses[0]['January'])

150

In [30]:
# 2.Find out your total expense in first quarter (first three months) of the year.
print(monthly_expenses[0]['January'] + 
      monthly_expenses[0]['February']+
      monthly_expenses[0]['March'])

7150

In [31]:
# 3.Find out if you spent exactly 2000 dollars in any month
for i in monthly_expenses[0]:
    if monthly_expenses[0][i]==2000:
        print("Yes, spent exactly 2000 dollars in ", month)
else:
    print('No, didn\'t spend exactly 2000 dollars in any month')

No, didn't spend exactly 2000 dollars in any month

In [32]:
# 4.June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
monthly_expenses[0]['June'] = 1980
monthly_expenses[0]

{'January': 2200,
 'February': 2350,
 'March': 2600,
 'April': 2130,
 'May': 2190,
 'June': 1980}

In [33]:
# 5.You returned an item that you bought in a month of April and got a refund of 200$.
# Make a correction to your monthly expense list based on this
monthly_expenses[0]['April']-=200
monthly_expenses[0]

{'January': 2200,
 'February': 2350,
 'March': 2600,
 'April': 1930,
 'May': 2190,
 'June': 1980}

---------------------------------------------------------------------------------------------------------------------------------

### Task 2 

You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [72]:
heros = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [73]:
# 1.Length of the list
print(len(heros))

5

In [74]:
# 2.Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [75]:
# 3.You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3, 'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [76]:
# 4.Now you don't like thor and hulk because they get angry easily :) 
# So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). 
# Do that with one line of code.
heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [77]:
# 5.Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

--------------------------------------------------------------------------------------------------------------------------------

### Task 3 

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [64]:
def list_of_odds_till_max(): 
    max_number = int(input("Enter max number: "))
    li_odds = [i for i in range(1, max_number, 2)]
    print(li_odds)
    
list_of_odds_till_max()

Enter max number: 15
[1, 3, 5, 7, 9, 11, 13]